h1 {
    display: flex;
    justify-content: center;
    background-color: blue;
    color: aliceblue;
}

.input-group {
    display: flexbox;
    justify-content: left;
    align-items: flex-start;
    padding-left: 7vw;
    padding-bottom: 10vh;
}

#cards {
    background-image: url("storm.jpg");
    display: inline-flexbox;
    justify-content: center;
    padding-top: 1rem;
}

.card {
    padding: 2rem;
    margin: 1rem;

}