h1 {
    display: flex;
    justify-content: center;
    background-color: blue;
    color: aliceblue;
    margin-bottom: 1rem;
}

.input-group {
    display: flexbox;
    justify-content: left;
    align-items: flex-start;
    padding-left: 7vw;
}

#cards {
    background: hsla(202, 71%, 27%, 1);

    background: linear-gradient(90deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(202, 71%, 27%, 1) 0%, hsla(176, 45%, 66%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#145277", endColorstr="#83D0CB", GradientType=1 );

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    padding: 1rem;
    margin: 1rem;
    color: 0, 119, 182; 
    background-color: lightblue;
}